@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Quicksand:wght@300..700&display=swap");

:root {
  --font-family: "Lora", serif;
  --color-primary: #fafafa;
  --color-secondary: #377f3d;
  --color-button-primary: #6bbf59;
  --color-button-secondary: #7dcfb6;
  --color-accents: #ffd700;
  --color-text: #333333;
  --color-text-light: #ffffff;
  --heading-size: 45px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-primary);
  color: var(--color-text);
}

#header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  background-color: var(--color-secondary);
  border-radius: 50px;
  /* position: sticky;
  top: 0; */
}

.logo img {
  height: 90px;
  object-fit: contain;
}

nav ul {
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  cursor: pointer;
  align-items: center;
  color: var(--color-primary);
  font-size: 24px;
}

.hero-section {
  padding: 20px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.hero-section h1 {
  font-size: 80px;
  color: var(--color-secondary);
  text-align: center;
}

.highlight-text {
  font-style: italic;
}

.hero-section h2 {
  text-align: center;
}

.hero-section ul {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.hero-section ul li button {
  height: 40px;
  width: 200px;
  cursor: pointer;
  font-size: 25px;
}

.hero-section ul li button:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
}

.btn-1 {
  background-color: var(--color-button-primary);
  color: var(--color-text-light);
}

.btn-2 {
  background-color: var(--color-button-secondary);
  color: var(--color-text);
}

.features {
  padding: 20px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.features h2 {
  font-size: var(--heading-size);
}

.feature-body {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  align-items: center;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.icon {
  height: 100px;
  width: 100px;
  object-fit: contain;
  margin-bottom: 15px;
}

.feature h3 {
  font-size: 25px;
}

.feature p {
  font-size: 18px;
}

.feature-btn {
  background-color: var(--color-button-primary);
  color: var(--color-text-light);
  height: 40px;
  width: 200px;
  cursor: pointer;
  font-size: 25px;
}

.feature-btn:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
}

.testimonials {
  padding: 20px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.testimonials h2 {
  font-size: var(--heading-size);
}

.test-content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.test {
  height: 240px;
  width: 300px;
  border: 1px solid var(--color-text);
  text-align: center;
  border-bottom: 4px solid var(--color-text);
  border-radius: 10px;
  background-color: var(--color-button-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.test p {
  color: var(--color-text-light);
}

.review-img {
  height: 140px;
  width: 240px;
  object-fit: contain;
}

.benefits {
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.benefits h2 {
  font-size: 40px;
}

.all-icons {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon img {
  height: 80px;
  width: 80px;
  object-fit: contain;
  margin-bottom: 15px;
}

.price {
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.price h2 {
  font-size: 40px;
}

.plans {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 440px;
  width: 200px;
  border: 1px solid var(--color-text);
}

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.lead h2 {
  font-size: 40px;
}

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.faq h2 {
  font-size: 40px;
}

.accordion {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  background-color: transparent;
  border: 1px solid var(--color-text);
}

.active,
.accordion:hover {
  background-color: var(--color-button-secondary);
}

.panel {
  padding: 0 18px;
  background-color: var(--color-button-secondary);
  display: none;
  overflow: hidden;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

.float {
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
